# Archivos auxiliares solicitados
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Archivos temporales de Bibliografía y Listas (visibles en tu proyecto)
*.bbl
*.blg
*.bcf
*.run.xml
*.lof
*.lot
*-blx.bib

# Opcional: descomenta si NO quieres incluir el PDF compilado en el repositorio
# *.pdf